h1 {
  text-decoration: underline;
}
.centered {
  text-align: center;
}
.image {
  display: block;
  margin: 0 auto;
}


.yes-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.no-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
}

p {
  text-align: justify;
}